.testimonial {
    @extend %of-hidden;

    &__wrapper {
        @extend %p-rel;
    }

    &__slider, 
    &__slider2{
        @extend %pb-40;
    }

    &__item {
        &-content {
            p {
                @extend %pb-30;
                // trk-rgba 
                border-bottom: 1px solid #E6EDFB;

                @include breakpoint (xl) {
                    padding-bottom: 32px;
                }
            }
        }

        &--style1 {
            .testimonial {
                &__item {
                    &-inner {
                        @extend %p-40;
                        @include add-prefix(transition, $transition);
                        background-color: $white-color;
                        border-radius: 16px;
                    }
                }
            }
        }

        &--style2 {
            .testimonial {
                &__item {
                    &-inner {
                        @extend %p-25;
                        @include add-prefix(transition, $transition);
                        border-radius: 16px;
                        background-color: $bg-color-4;
                    }
                }
            }
        }

        &:hover {
            .testimonial {
                &__item {
                    &-inner {
                        box-shadow: 0px 16px 40px rgba(153, 161, 172, 0.12);
                    }
                }

                &__quote {

                    i,
                    svg {
                        opacity: 1;
                    }
                }
            }
        }



    }

    &__footer {
        @extend %d-flex,
        %align-i-center,
        %justify-between,
        %mt-30;

        @include breakpoint(xl) {
            margin-top: 32px;
        }

    }

    &__author {
        @extend %d-flex,
        %align-i-center;
        gap: 15px;

        &-thumb {
            img {
                border-radius: 99px;
                max-width: 60px;
            }

        }

        &-designation {
            h6 {
                @extend %mb-0;
            }

            span {
                @include font-size(14px);
                color: $text-color;
            }
        }
    }

    &__quote {
        span {

            i,
            svg {
                @include font-size(40px);
                @include add-prefix(transition, $transition);
                color: $brand-color;
                opacity: 0.5;
            }
        }

    }


}