:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* =========================================
   NAVBAR STARTS
   ========================================= */
.menu-area .menu>li>a {
  display: flex !important;
  align-items: center;
  gap: 5px;
}

.menu-item-has-children>a::after {
  display: inline-block !important;
  transition: transform 0.3s ease;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .menu-item-has-children:hover>a::after {
    transform: rotate(180deg);
  }

  .menu-item-has-children:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

@media (max-width: 991px) {
  .menu-area .menu>li>a {
    justify-content: space-between;
    width: 100%;
  }

  .menu-item-has-children.active-state>a::after {
    transform: rotate(180deg);
  }

  .menu-item-has-children.active-state .submenu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
    position: relative !important;
    top: 0 !important;
  }
}

.header-action .header-bar svg {
  color: #ffffff !important;
  cursor: pointer;
}

.header-action .header-bar:hover svg {
  color: black !important;
}

/* =========================================
   NAVBAR ENDS
   ========================================= */