.lightdark-switch {
    span {
        @extend %p-fixed,
        %p-5,
        %of-hidden,
        %d-grid,
        %place-i-center;
        @include add-prefix(transition, $transition);
        @include box(35px);
        bottom: 7%;
        left: 5%;
        border-radius: 8px;
        z-index: 9999;
        cursor: pointer;
        background-color: $black-color;
        box-shadow: 0px 0 20px 0px #f94d1c69;
        border: 1px solid #f94d1c69;

        &:hover{
            // transform: scale(1.05);
            border: 1px solid $brand-color;
            box-shadow: 0px 0 20px 5px #f94d1c69;
        }

        @include breakpoint(sm) {
            @include box(40px);
            padding: 10px;
            bottom: 8%;
            left: 5%;
        }

        @include breakpoint(md) {
            bottom: 7%;
            left: 5%;
        }

        @include breakpoint(lg) {
            bottom: auto;
            left: auto;
            top: 130px;
            right: 60px;
        }

        @include breakpoint(xxl) {
            top: 80px;
            right: 90px;
        }


        img {
            max-height: 16px;

            @include breakpoint(sm) {
                max-height: 20px;
            }
        }
    }
}